html,
body {
    height: 100% !important;
    width: 100% !important;
    
}

body {
    background: #f5f5f5;
}

.label {
    margin-right: 5px;
    margin-bottom: 5px !important;
    display: inline-block;
}

#wrapper {  
    position: relative;
}

.skin-blue .main-header .navbar {
    background-color:  #1A237E !important;
}

.skin-blue .main-header .logo {
    background-color:  #1A237E!important;
}

.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
    background-color: #103543 !important;
}